.navbar-collapse{ justify-content: flex-end;}

.header{
	    background-image: url("../images/Accueil_background.jpg");
 		background-attachment: fixed;
 		background-size: cover;
 		background-position: center;
	   }

.overlay{
		 position: absolute;
		 min-height: 100%;
		 min-width: 100%;
		 left: 0;
		 top: 0;
		 background: rgba(244, 244, 244, 0.79);
		}

.instructions{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    
}
.instructions h1{
 color:#4169E1 ;
}
.instructions p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.instructions button{
 border:1px  solid #4169E1;
 background:#4169E1;
 color:#fff;
}

.Le_projet{
 margin: 4em 0;
 padding: 1em;
 position: relative;
}
.Le_projet h1{
 color:#4169E1;
 margin: 2em;
 font-size: 50px;
}
.Le_projet img{
 /*height: 100%;
 width: 100%;*/
}

.Le_projet .desc{
 padding: 2em;
 border-left:4px solid #10828C;
}
.Le_projet .desc h3{
 color: #4169E1;
 font-size: 40px;
}
.Le_projet .desc p{
 line-height:2;
 color:#888;
 font-size: 19px;
 position:relative;
}

.team{
 margin: 4em 0;
 position: relative;  
}
.team h1{
 color:#4169E1;
 margin: 2em; 
}
.team .item{
 position: relative;
}
.team .des{
 background: #4169E1;
 color: #fff;
 text-align: center;
 border-bottom-left-radius: 93%;
 transition:.3s ease-in-out;
 
}

.team .item:hover .des{
 height: 100%;
 background:#34c0eb7d;
 position: absolute;
 width: 89%;
 padding: 5em;
 top: 0;
 border-bottom-left-radius: 0;
}

.contact-form{
 margin: 6em 0;
 position: relative;  
}

.contact-form h1{
 padding:2em 1px;
 color: #4169E1; 
}
.contact-form .right{
 max-width: 1200px;
 height:100px;
}
.contact-form .right .btn-secondary{
 background:  #4169E1;
 color: #fff;
 border:0;
}
.contact-form .right .form-control::placeholder{
 color: #888;
 font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Raleway');

html,h1,h2,h3,h4,h5,h6,a{
 font-family: "Raleway";
}