body{
	margin: 0px;
}
p{
	color: black;
	text-align: center;
	vertical-align: middle;
	font-size: 7%;
}
#etape{
	position: absolute;
	padding-top: 100px;
	padding-left: 40%;
}

.progress{
	position: absolute;
	width: 80%;
	height: 5%;
	margin-top: 25%;
	margin-left: 10%;
}


#footpage{
	position: absolute;
	height: 7%;
	width: 100%;
	background: #4169E1;
	bottom: 0;
}


#bouton_suivant{
	position: absolute;
	height: 80%;
	width: 10%;
	margin-top: 0.3%;
	margin-left: 45%;
}