/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4169E1 ; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5%; /* Place les content X px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 25px;
  color: #000000    ; /*Couleur du text side nav*/
  transition: 0.3s; /*Durée de la transition pour la sidenav*/
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

#Donnees {
  transition: margin-left .5s;/*Durée de la transition pour la sidenav*/
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  height: 100px;
  color: #000000;
  font-family: Impact;
  font-size: 3em;
  text-align: center;
  background-color: #4169E1;
}

.navbar-brand {
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
}

/*Position du logo Virtual Doctor*/
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

::placeholder {
  color: white;
}

#test1 {
  right: 10px;
}

.search-box {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 background: #4169E1;
 height: 40px;
 border-radius: 40px;
}

.search-box:hover > .search-txt {
 width: 240px;
 padding: 0 6px;
}

.search-box:hover > .search-btn {
 background: white;
 color: black;
}

.search-btn {
 float: right;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background: #4169E1;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: 0.4s;
 cursor: pointer;
}

.search-txt {
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 transition: 0.4s;
 line-height: 40px;
 width: 0px;
 font-weight: bold;
}

#Donnees {
display: none;
padding-top: 100px
}

.form-group {
  padding: 54px;
}

/* https://www.w3schools.com/howto/howto_js_tabs.asp */