/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4169E1 ; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 73px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 25px;
  color: #000000    ; /*Couleur du text side nav*/
  text-align: center
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
    color: #000000;
    font-family: Impact;
    font-size: 3em;
    text-align: center;
    background-color: #4169E1;
}

.navbar-brand {
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
}/*Position du logo Virtual Doctor*/


/*
TODO:
-Your virtual doctor au centre de la Navbar
-Navbar nous suit quand on scroll
-Centrer texte dans la sidebar