/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4169E1 ; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5%; /* Place les content X px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 25px;
  color: #000000    ; /*Couleur du text side nav*/
  text-align: center
  display: block;
  transition: 0.3s; /*Durée de la transition pour la sidenav*/
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#regForm {
  padding-top: 100px;
  transition: margin-left .5s;/*Durée de la transition pour la sidenav*/
}


#push {
  transition: margin-left .5s;/*Durée de la transition pour la sidenav*/
  padding: 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  height: 100px;
  color: #000000;
  font-family: Impact;
  font-size: 3em;
  text-align: center;
  background-color: #4169E1;
}

.navbar-brand {
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
}

/*Position du logo Virtual Doctor*/
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Couleur rouge des astérix => obligatoire */
.required {
  color: red; /*Asterix*/
}

/*Multiple Step Form*/

/* Style autour des box du form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style par défaut des box du form */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Si les box du form ne sont pas toutes remplies */
input.invalid {
  background-color: #ffdddd;
}

/* Cache toutes les steps du multiple step form au début */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/*
TODO:
-Your virtual doctor au centre de la Navbar
-Navbar nous suit quand on scroll
-Centrer texte dans la sidebar
-https://css-tricks.com/styling-underlines-web/
-https://www.w3schools.com/howto/howto_js_form_steps.asp
-https://balsamiq.cloud/spc4f1i/py1ojcy/r2278