@import url(https://fonts.googleapis.com/css?family=Cuprum);

body{
	background: white;
	font-family: 'Impact', sans-serif;
	width:100%;
  overflow:hidden;
  font-smoothing: subpixel-antialiased;
}
section{
	width:100%;
	margin:auto;
	font-size: 1.5vw;
  padding:10vw;
  transition:all 2s ease;
}
table#calendar{	/*ecritures permanentes*/
	width:80vw; 
	padding:2.5vw; 
	text-align:center;
	background:#42a6ed;
	color:hsla(191, 65%, 5%, 1);
	border:none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  user-select:none;
  outline:none;
}
table th{
  /*background:hsla(191, 75%, 85%, .8);*/
  background:#4169E1;
  padding:1.2vw;
  border:none;
}
table tr{
	padding:1vw;
  transform: translate(0,0);
}
table td{/*ecriture*/
	padding:1.5vw;
  font-size:2vw;
  color:black;1
  text-shadow: -1px 1px hsla(191, 75%, 85%, 1);
  transition:all 1s ease;
}
table td:hover{
	background:#4169E1;
  border-radius:2px;
	box-shadow: 1px 1px 1px hsla(197, 55%, 5%, .2);
  color:hsla(191, 65%, 5%, 1);
}
.data{
	width:80vw;
	text-align:center;
	display:inline-block;
	/*background:hsla(165, 75%, 45%, 1);*/
	background:#4169E1;
	box-shadow: 1px 0 0 1px hsla(197, 35%, 5%, .1);
}
#create, #reset{
	border:none;
	width:15vw;
	padding:1.37vw;
	color:#fff;
	font-family: 'Impact', sans-serif;
	font-weight:bold;
  font-size:1.5vw;
	background:	hsla(191, 65%, 5%, .2);
  user-select:none;
  outline:none;
  float:right;
  margin:.2%;
}
#create:hover, #reset:hover{
  box-shadow: 1px 0 0 0 hsla(197, 35%, 5%, .3);
}
#create:active, #reset:active{
  user-select:none;
  outline:none;
}
input[type=text]{ 
	padding:1.2vw;
  text-align:center;
	border:none;
	background: hsla(191, 55%, 95%,.2);
	color:hsla(191, 65%, 5%, 1);
	font-family: 'Impact', sans-serif;
	font-weight:bold;
  font-size:1.5vw;
  width:15vw;
  float:left;
  margin:.5%;
  user-select:none;
  outline:none;
}
input:focus{
  box-shadow: inset 2px 1px 1px 1px hsla(197, 35%, 5%, .1);
}
[placeholder]:focus::-webkit-input-placeholder { 
	  color:hsla(191, 65%, 5%, 1);
    user-select:none;
    outline:none;
}
[placeholder]:focus::-moz-placeholder {
	color:hsla(191, 65%, 5%, 1);
  user-select:none;
  outline:none;
 }