    html {
      height: 100%;
    }
    body {
      min-height: 100%;
    }


.list-group{
    position: absolute;
    width: 40%;
    height: 60%;
    font-size: xx-large;
    padding-top:120px;
    padding-bottom:60px;
}

.btn{
    position: absolute;
    width: 20%;
    height: 10%;
    right: 20px;
    bottom: 20px;
    border-radius: 20px;
    font-size: 22px;
}

.box{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 9%;

}

.result{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 9%;
    transition: margin-left.5s;
}

@media screen and (min-width: 1650px) {
  .box h1 {
    font-size: 4rem;  
  }
}

@media screen and (max-width: 1649px) {
  .box h1 {
        font-size: 3rem; 
  }
}

@media screen and (max-width: 1440px) {
  .box {
        margin-top: 10%; 
}
  .result{
    margin-top: 10%;
  }

  }

.row h1{
    font-size: 4rem;
}

.h1{
    padding:20px;
    text-align: center;

}


.general{
    display: flex;
    flex-direction: row;
}

.row{
    display: flex;
    flex-direction: row;
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}

.card-text{
    font-size: calc(100% + 1vw + 1vh);
}

.card-body{
    background-color: lightgrey;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #4169E1 ; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 6%; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 64px;
  text-decoration: none;
  font-size: 25px;
  color: #000000    ; /*Couleur du text side nav*/
  text-align: center;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) 
{
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navbar {
    color: #000000;
    font-family: Impact;
    font-size: 3em;
    text-align: center;
    background-color: #4169E1;
}

.navbar-brand {
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
}/*Position du logo Virtual Doctor*/

.planningContent {
  padding: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




