body{
	margin: 0px;
}
p{
	color: black;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
}
#etape{
	position: absolute;
	padding-top: 100px;
	padding-left: 40%;
}
#description{
	position: absolute;
	height: 5%;
	padding-top: 150px;
	padding-left: 55%;
	font-size: 100%;
}
.instrument{
	position: absolute;
	width: 18%;
	padding-top: 140px;
	margin-left: 10%;
}

.instrument img{
	width: 100%;
	height: 100%;
}


.video{
	position: absolute;
	width: 40%;
	height: 50%;
	padding-top: 25%;
	margin-left: 60%;
}


#footpage{
	position: absolute;
	height: 7%;
	width: 100%;
	background: #4169E1;
	margin-top: 643px;
}

#bouton_precedent{
	position: absolute;
	height: 80%;
	width: 10%;
	margin-top: 0.3%;
	margin-left: 15%;
}

#bouton_suivant{
	position: absolute;
	height: 80%;
	width: 10%;
	margin-top: 0.3%;
	margin-left: 75%;
}